body{
    margin-left: 320px;
    margin-right: 300px;
    margin-top: 80px;
    margin-bottom: 100px: 
    padding: 280px;
    text-align: center;

}
h2{
	text-align: 
}

 h3{
	color: red;
	 
}	
form{
	background-color: #ffffe0;

}
h1{
 	color: blue;
    margin-left: auto;
 	margin-top: -40px;
}